@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  border: 15px dashed #777777;
  border-image-slice: 30;
  background-image: URL('../assets/background.png');
  border-image-source: url('../assets/borda.png');
}
